.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 30px;
  transition: 0.3s;
}

.controlNavBtn {
  position: absolute;
  color: white;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.sideNav .closeBtn {
  position: absolute;
  color: #818181;
  top: 10px;
  right: 10px;
  display: block;
}

.closeBtn:hover{
  color: black;
}

.sideNav .sideNavBtn {
  padding: 8px 8px 8px 8px;
  font-size: 16px;
  color: #818181;
  display: block;
  width: 250px;
}

.sideNavBtn:hover{
  color: black;
}
